{% extends "_base.html" %}

{% block title %}Query Databases{% endblock title %}

{% block head %}
<h1>Select database query</h1>
{% endblock %}

{% block body %}
<form action="/results" method="POST">
	<select name="parameter">
		<option value="RG/Cohort Year">Regents data: Cohort Year</option>
		<option value="RG/Demographic">Regents data: Cohort Demographic</option>
		<option value="JP/show_number">Jeopardy questions: Show Number</option>
		<option value="JP/value">Jeopardy questions: Question value</option>
	</select>
	<br>
	<input type="text" name="value" placeholder="query"></input>
	<br>
	<br>
	<input type="submit" name="submit"></input>
</form>
{% endblock %}